<html>
	<head>
	<title>SNUSEGGI Assessments</title>
	</head>
	<body>
		<p>★☆★☆★☆★☆ S.N.U.S.E.G.G.I Assessments☆★☆★☆★☆★</p>
		{% for asst in assessment_list %}
			<div>
				<p>restaurant : {{asst.restaurant}}</p>
				<p>classification: {{asst.classification}}</p>
				<p>menu : {{asst.menu}}</p>
				<p>date : {{asst.date}}</p>
				<p>save_time : {{asst.save_time}}</p>
				<p>point_taste : {{rest.point_taste}}</p>
				<p>point_service : {{rest.point_service}}</p>
				<p>point_price : {{rest.point_price}}</p>
				<p>comment : {{asst.comment}}</p>
			</div>
		{% endfor %}
	</body>
</html>