<html>
	<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/assessment.css' %}" />
	<title>SNUSEGGI Assessments</title>
	<div id="site"><div class="sitename"><a href="main">SNUSEGGI</a></div><div class="sitename2">서울대학교 학식평가 시스템</div></div>
	</head>
	<body>
		<p>★☆★☆★☆★☆ S.N.U.S.E.G.G.I Assessments☆★☆★☆★☆★</p>
		{% for asst in assessment_list %}
			<div>
				<p>name : {{asst.name}}</p>
				<p>rating : {{asst.rating}}</p>
				<p>point_taste : {{rest.point_taste}}</p>
				<p>point_service : {{rest.point_service}}</p>
				<p>point_price : {{rest.point_price}}</p>
				<p>comment : {{asst.comment}}</p>
			</div>
		{% endfor %}
	</body>
</html>
